/*base*/
body{
	position: relative;
	width: auto;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000000;
	background: #e1f0f8;
	margin: 0;
	padding: 0;
}
h1{
	font-size: 64px;
	margin: 50px 0 0 0;
}
h2{
	font-size: 26px;
	margin: 0;
	padding: 25px 0 25px 25px;
}
h3{
	font-size: 20px;
}
a{
	color: #eb5825;
	font-size: 16px;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
li{
	display: inline-block;
}
button{
	height: 40px;
	color: #ffffff;
	background: #eb5825;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
/*fundation*/
header{
	position: relative;
	width: 1145px;
	height: 214px;
	background: #ffffff;
	margin: 0 auto;
}
nav{
	height: 60px;
	width: auto;
}
section{
	position: relative;
	width: 1145px;
	margin: 0 auto;
}
aside{
	float: left;
	width: 240px;
	background: #ffffff;
	border-radius: 5px;
}
article{
	width: 878px;
	background: #ffffff;
	border-radius: 5px;
	margin: 25px 0 0 267px;
}
.reviews-block{
	width: 878px;
	border-radius: 5px;
	margin: 25px 0 0 267px;
}
footer{
	background: #a5b7c1;
}
/*project*/
.logo{
	margin: 15px 0 0 25px;
}
.header_text{
	position: absolute;
	top: 74px;
	right: 25px;
	text-align: right;
	margin: 0;
}
.header_text p{
	margin: 0;
}
.header_text p:nth-child(2){
	font-size: 31px;
}
.header_price{
	position: absolute;
	display: inline-block;
	bottom: 93px;
	right: 365px;
}
.header_navigation ul{
	position: absolute;
	bottom: 0;
	text-align: center;
}
.header_navigation li{
	display: inline-block;
	border-left: 1px solid #5f6973;
	margin-right: -4px;
	padding: 0;
}
.header_navigation a{
	display: block;
	font-size: 24px;
	color: #000000;
	text-decoration: none;
	padding: 10px 57px;
}
section .title1{
	margin: 50px 0 0 0;
}
section .title2{
	margin: 0 0 35px 0;
	padding: 0;
}
aside h3{
	margin: 25px 0 25px 25px;
}
aside ul{
	margin: 0 23px 20px 25px;
}
aside li{
	margin: 0 0 16px 0;
}
 #block_sample{
 	float: left;
 	width: 355px;
	text-align: center;
	margin: 0 0 17px 25px;
}
article>ul{
	list-style: disc;
	margin: 0 0 40px 380px;
}
article li{
	display: list-item;
	margin: 0 0 14px 20px;
	color: #eb5825;
}
article div ul:nth-child(2){
margin: 0 0 30px 0;
}
.samples{
	display: inline-block;
	width: 59px;
	height: 59px;
	margin: 0;
	border-radius: 3px;
}
article div ul:nth-child(3){

}
article div li{
	display: inline-block;
	width: 100px;
	vertical-align: top;
	margin: 0;
}
article div p{
	color: #000000;
	margin: 20px 0 30px 0;
}
article button{
	width: 311px;
}
article a{
	margin: 10px 0 70px 380px;
}
/*cosmetic*/
article li span{
	color: #000000;
}