body{
	position: relative;
	width: auto;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000000;
	background: #e1f0f8;
	margin: 0;
	padding: 0;
}
header{
	width: 1145px;
	height: 214px;
	background: #ffffff;
	margin: 0 auto;
}
section{
	width: 1145px;
	margin: 0 auto;
}
aside{
	width: 240px;
	background: #ffffff;
}
article{
	width: 878px;
	background: #ffffff;
}
footer{
	background: #a5b7c1;
}
h1{
	font-size: 64px;
}
h2{
	font-size: 26px;
}
h3{
	font-size: 20px;
}
a{
	font-size: 16px;
}
button{
	background: #eb5825;
	border-radius: 5px;
}