/*base*/
body{
	position: relative;
	width: auto;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000000;
	background: #e1f0f8;
	margin: 0;
	padding: 0;
}
header{
	position: relative;
	width: 1145px;
	height: 214px;
	background: #ffffff;
	margin: 0 auto;
}
nav{
	height: 60px;
	width: auto;
}
section{
	width: 1145px;
	margin: 0 auto;
}
aside{
	width: 240px;
	background: #ffffff;
}
article{
	width: 878px;
	background: #ffffff;
}
footer{
	background: #a5b7c1;
}
h1{
	font-size: 64px;
	margin: 50px 0 0 0;
}
h2{
	font-size: 26px;
	margin: 0;
}
h3{
	font-size: 20px;
}
a{
	color: #eb5825;
	font-size: 16px;
}
ul{
	list-style: none;
}
li{
	display: inline-block;
}
button{
	background: #eb5825;
	border-radius: 5px;
}
/*project*/
.header_text{
	position: absolute;
	top: 74px;
	right: 25px;
	text-align: right;
	margin: 0;
}
.header_text p{
	margin: 0;
}
.header_text p:nth-child(2){
	font-size: 31px;
}
.header_price{
	position: absolute;
	display: inline-block;
	bottom: 93px;
	right: 365px;
}
.header_navigation ul{
	position: absolute;
	bottom: 0;
}
/*cosmetic*/